.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 50px;
  border: 2px solid #16133d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #16133d;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.button--radius {
  border-radius: 50px;
}

.button--small {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button--small:hover {
  color: #ffffff;
  background-color: #16133d;
}

.button--outline {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #183B56;
}

.button--outline:hover {
  background-color: transparent;
  color: #16133d;
}

.button--transparent {
  border-color: #ffffff;
  color: #ffffff;
}

.button--transparent:hover {
  background-color: #16133d;
  border-color: #16133d;
}
