.footer {
  background-color: #16133d;
  padding-top: 90px;
}

.footer h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #efeef3;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 194px;
}

.footer-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-header-description {
  color: #efeef3;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-header-item {
  padding-bottom: 20px;
}

.footer-header-item:first-child {
  padding-bottom: 38px;
}

.footer-header-item:last-child {
  padding-bottom: 28px;
}

.footer-header-item img {
  padding-bottom: 28px;
}

.footer-header-item-description {
  font-family: "Roboto";
  color: #efeef3;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.footer-header-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #efeef3;
}

.footer-header-link--mailto {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.footer-header-social {
  padding-top: 30px;
}

.footer-header-social a {
  padding-right: 8px;
}

.footer-header-social a:last-child {
  padding-right: 0px;
}

.footer-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.footer-header-sponsor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-header-sponsor a:first-child {
  padding-right: 20px;
}

.footer-bottom {
  padding: 80px;
}

.footer-bottom-description {
  font-family: "Roboto";
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #efeef3;
}
