.info-card {
    padding-top: 120px;
    padding-bottom: 200px;

    h5 {
        padding-bottom: 15px;
    }
    h4 {
        padding-bottom: 6px;
    }

    &-wrapper {
        display: flex;
        gap: 40px;
        padding-top: 60px;
    }

    &-item {
        padding: 41px 45px 46px 41px;
        background: #ffffff;
        border: 1px solid #e5eaf4;
        box-sizing: border-box;
        border-radius: 8px;

        &-logo {
            width: 64px;
            height: 64px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border: 1px solid rgba(21, 101, 216, 0.1);
            box-sizing: border-box;
            border-radius: 16px;
            margin-bottom: 30px;
            img{
                max-width: 100%;
            }
        }

        &-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 21px;
            letter-spacing: 0.2px;
            color: #16133d;
        }
        &-description {
            padding-top: 20px;
            padding-bottom: 30px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #16133d;
        }
        &-button {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #16133d;
        }
    }
}
