.showcase {
    padding-top: 50px;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    &-button {
        display: flex;
    }
    &-article {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 40px;

        h2 {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 56px;
            line-height: 68px;
            letter-spacing: 0.2px;
            color: #16133d;
        }

        p {
            padding-bottom: 30px;
            font-weight: 400;
            font-size: 19px;
            line-height: 36px;
            color: #183b56;
        }
    }
    .button {
        margin-right: 20px;
        color: #007ffc;
        border-color: #007ffc;
        transition: all ease 0.3s;
        &:hover {
            background-color: #007ffc;
            color: #ffffff;
        }
        &:last-child {
            margin-right: 0px;
        }

        &.button--show {
            color: white;
            background-color: #007ffc;
            transition: all ease 0.3s;

            &:hover {
                background-color: #ffffff;
                color: #007ffc;
            }
        }
    }

    &-image {
        position: relative;
        width: 50%;   
    }
}
